<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<section th:fragment="interceptor" th:if="${tiempoTranscurrido != null}">
		<div class="alert alert-success">
			<span
				th:text="'Tiempo transcurrido '+ ${tiempoTranscurrido} + ' En milisegundos'">
			</span>
		</div>
	</section>

</body>
</html>