<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parametros del Request HTTP - GEt url</title>
</head>
<body>
	<h1>Enviar parametros del Request HTTP - GEt url</h1>
	<ul>
		<!-- Con esto podermos enviar un parametro accediendo a la url -->
		<li><a th:href="@{/params/string(texto='Hola Javis')}">/params/string?texto=Hola
				Javis</a></li>
		<li><a th:href="@{/params/string(texto='Elton jhon')}">/params/string?texto=Elton
				Jhon</a></li>
		<li><a
			th:href="@{/params/mix-params(saludo = 'Como estas Javis',numero = 7)}">/params/mix-param?saludo
				= Como estas Javis?&numero=7</a></li>
				
		<li><a
			th:href="@{/params/mix-params-request(saludo = 'Como estas Javis',numero = 7)}">/params/mix-params-request?saludo
				= Como estas Javis?&numero=7</a></li>
	</ul>

</body>
</html>