<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
<ul>
<h2 th:text="${titulo}"></h2>
<li th:text="${usuario.id}"></li>
<li th:text="${usuario.nombre}"></li>
<li th:text="${usuario.apellido}"></li>

</ul>
</body>
</html>