<!DOCTYPE html>
<html xlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lo sentimos, pagina no encontrada 404</title>
</head>
<body>
	<h2>Lo sentimos, pagina no encontrada 404</h2>
	<div th:text="${error}"></div>
	<div th:text="${path}"></div>
	<div th:text="${status}"></div>
	<div th:text="${timestap}"></div>
</body>
</html>