<!DOCTYPE html>
<html xlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ha ocurrido un error</title>
</head>
<body>
	<h2>Ha ocurrido un error</h2>
	<div th:text="${error}"></div>
	<div th:text="${message}"></div>
	<div th:text="${status}"></div>
	<div th:text="${timestap}"></div>
</body>
</html>