<!DOCTYPE html>
<html xlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${error}"></title>
</head>
<body>
	<h2 th:text="${error}"></h2>
	
	<div th:text="${path}"></div>
	<div th:text="${status}"></div>
	<div th:text="${timestap}"></div>
</body>
</html>