<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>

	<h3 th:text="${factura.descripcion}"></h3>
	<div>
		Cliente: <span
			th:text="${factura.cliente.nombre + ' ' + factura.cliente.apellido}"></span>
	</div>
	<h4>Detalle de la factura</h4>
	<table>
		<thead>
			<tr>
				<th>Producto</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>Total</th>

			</tr>
		</thead>
		<tbody>

			<tr th:each="item: ${factura.items}">
				<td th:text="${item.producto.nombre}">
				<td th:text="${item.producto.precio}">
				<td th:text="${item.cantidad}">
				<td th:text="${item.producto.precio *  item.cantidad}">
			</tr>
		</tbody>
	</table>
</body>
</html>