<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="${title}"> </title>
	</head>
<body>
	<h1 th:text="${title}"></h1>
	<ul>
	<li><a th:href= "@{/variables/string/}+'Holi yo soy evy'">@{/variables/string}+'Holi yo soy evy</a></li>
	<li><a th:href= "@{/variables/string/}+'Holi yo soy evy' + '/'+ 7">@{/variables/string}+'Holi yo soy evy' + '/'+ 7"</a></li>
	
	</ul>
	

</body>
</html>