<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="${titulo}"></title>
	</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<samp th:text="${usuario.nombre}"></samp> <!-- Accedemos a nuestravariable de tipo obketo y hacemos un tipo get de nombre -->
	<samp th:text="${usuario.apellido}"></samp>  <br>
	<samp th:if="${usuario.email}" th:text="${usuario.email}"></samp>
	<samp th:if="${usuario.email == null}" >El usuario no tiene correo</samp> 
</body>
</html>